#profil {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#profil ul{
  list-style-type: none;
}


/* SECTION PROFIL */
#profil .first_column{
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
}

#profil .first_column img{
  width: 250px;
  height: 250px;
}

#profil .first_column .main_info{
  font-size: 22px;
}

#profil .first_column .social{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#profil .first_column .social li{
  position: relative;
  align-items: center;
}

#profil .first_column .social li:hover{
  cursor: pointer;
}

#profil .first_column .social a{
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#profil .first_column .social a img{
  text-decoration: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#profil .first_column .social div {
  display: none; /* Cacher l'élément par défaut */
  position: absolute;
  top: 45px;
  left: 45px;
  background-color: var(--secondary);
  color:black;
  width: max-content;
  padding: 6px;
}

#profil .first_column .social li:hover div {
  display: block; /* Afficher l'élément lors du survol */
}


/* SECTION DESCRIPTION */
#profil .second_column{
  width: 65%;
}

#profil .second_column .presentations{
  position: relative;
  width: 100%;
}

#profil .second_column .description{
  height: 300px;
}

#profil .second_column .description p{
  text-align: justify;
  font-size: 16px;
  line-height: 18px;
  margin: 12px 0;
}

#profil .second_column .presentations span{
  background-color: var(--secondary);
  padding: 6px;
  margin-left: auto;
}

#profil .second_column .presentations span:hover{
  cursor: pointer;
  color: black;
  background-color: var(--primary);
}

#profil .second_column .lists {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

#profil .second_column .lists h3 {
  margin-bottom: .5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  text-align: left;
  width: 100%;
}

#profil .second_column .lists div{
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profil .second_column .lists li{
  list-style: disc;
}

/* SECTION INTERETS AND SOFT SKILLS */
#profil .custom-table {
  border-collapse: collapse;
  width: 100%;
}

#profil .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 100%;
  height: 20px;
}

#profil .custom-table th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #f2f2f2;
  font-weight: bold; /* Ajoute une épaisseur de police en gras */
}
