#projets_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
/* Relations Compétences X Expériences */
#projets_div .card {
    position: relative;
    display: flex;
    height: 300px;
    flex: 1 1 calc(25% - 50px);
    min-width: 21%;
    max-width: 33%;
    background: var(--secondary);
    color: var(--text-light-color);
    overflow: hidden;
    margin: 15px;
}

#projets_div .card:hover {
    transform: scale(1.1,1.15);
    z-index: 1;
}

#projets_div .card:hover .card_inner_content {
    font-size: 12px;
}

#projets_div .card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--tertiary);
    top: calc(100% - 80px);
    left: 0;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: top;
    justify-content: center;
}

#projets_div .card_face_content {
    position: relative;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

#projets_div .card .card_face_content .card_face_title {
    font-weight: 600;
    font-size: 18px;
}

#projets_div .card .card_face_content .card_face_technologies {
    font-size: 14px;
}


#projets_div .card_face:after {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-color: var(--primary);
    border-style: solid;
    border-width: 2px 0 0 2px;
    content: "";
}

#projets_div .card:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-color: var(--primary);
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
}

#projets_div .card .card_face,
#projets_div .card:hover .card_face {
    top: 0;
    background: var(--tertiary);
    transition: all .5s ease-in-out;
}

#projets_div .card .card_face_content,
#projets_div .card:hover .card_face_content {
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
}

#projets_div .card:hover .card_face {
    top: calc(100% - 80px);
}

#projets_div .card:hover .card_face_content {
    height: 80px;
}

#projets_div .card:hover .card_face_content .card_face_title {
    font-size: 14px;
}

#projets_div .card:hover .card_face_content .card_face_technologies {
    opacity: 0;
    height: 0px;
    transition: all .3s ease-in-out;
}


#projets_div .card .card_inner_content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px); /* Taille de card_face_title restant */
    width: 100%;
}

#projets_div .card .card_inner_content .card_inner_date{
    text-align: right;
    border-bottom: 1px solid var(--light-background-0);
    padding-bottom: 4px;
}

#projets_div .card .card_inner_content span{
    display: inline-flex;
    border-top: 1px solid var(--light-background-0);
    padding-top: 4px;
}

#projets_div .card .card_inner_content span > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

#projets_div .card .card_inner_content .card_inner_technologies, .card_inner_librairies_plugins{
    padding: 4px;
    text-align: center;
}

#projets_div .card .card_inner_content .card_inner_description{
    padding: 4px 0;
    font-size: 14px;
    line-height: 14px;
}


/* SearchBar & FilterBar */

#filter_bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#filter_bar .reset-filter-button{
  position: relative;
  width: 35px;
  height: 30px;
  align-self: center;
  background-color: var(--danger);
  color: var(--text-light-color);
}

#filter_bar .filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 32px 0;
  margin: 16px 15px;
  width: 90%;
}

#filter_bar .filter-button {
  transition: background-color 200ms, color 200ms;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  color: var(--tertiary);
  border: 1px solid var(--tertiary);
  border-radius: 8px;
  font-size: 18px;
  white-space: nowrap;
}

#filter_bar .filter-button:hover {
  color: var(--text-light-color);
  background-color: var(--primary);
}

#filter_bar .filter-button.is-active {
  color: var(--text-light-color);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

#filter_bar .disable {
  display: none;
}