#projets_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
/* Relations Compétences X Expériences */
#projets_div .card {
    position: relative;
    display: flex;
    height: 350px;
    flex: 1 1 calc(33% - 50px);
    min-width: 21%;
    max-width: 49%;
    background: var(--secondary);
    color: var(--text-light-color);
    overflow: hidden;
    margin: 15px;
}

#projets_div .card:hover {
    transform: scale(1.1,1.15);
    z-index: 1;
}

#projets_div .card:hover .card_inner_content,
#projets_div .card:active .card_inner_content {
    font-size: 12px;
}

#projets_div .card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--tertiary);
    color: var(--text-dark-color);
    top: calc(100% - 80px);
    left: 0;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: top;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#projets_div .card:hover .card_face {
    transition: all .3s ease-in-out;
    background: var(--tertiary) !important;
    color: var(--text-light-color);
}

#projets_div .card_face_content {
    position: relative;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

#projets_div .card .card_face_content .card_face_title{
    font-weight: 600;
    font-size: 18px;
    backdrop-filter: blur(7px);
    padding: 6px;
}

#projets_div .card .card_face_content .card_face_technologies {
    font-size: 14px;
    backdrop-filter: blur(7px);
    padding: 6px;
}


#projets_div .card_face:after {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-color: var(--primary);
    border-style: solid;
    border-width: 2px 0 0 2px;
    content: "";
}

#projets_div .card:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-color: var(--primary);
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
}

#projets_div .card .card_face,
#projets_div .card:hover .card_face {
    top: 0;
    transition: all .5s ease-in-out;
}

#projets_div .card .card_face_content,
#projets_div .card:hover .card_face_content{
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
}

#projets_div .card:hover .card_face {
    top: calc(100% - 80px);
}

#projets_div .card:hover .card_face_content {
    height: 80px;
}

#projets_div .card:hover .card_face_content .card_face_title{
    font-size: 14px;
    background-color: unset;
}

#projets_div .card:hover .card_face_content .card_face_technologies{
    opacity: 0;
    padding: 0;
    height: 0px;
    transition: all .3s ease-in-out;
}


#projets_div .card .card_inner_content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px); /* Taille de card_face_title restant */
    width: 100%;
}

#projets_div .card .card_inner_content .card_inner_date{
    text-align: right;
    border-bottom: 1px solid var(--background-0);
    padding-bottom: 4px;
}

#projets_div .card .card_inner_content span{
    display: inline-flex;
    border-top: 1px solid var(--background-0);
    padding-top: 4px;
}

#projets_div .card .card_inner_content span > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

#projets_div .card .card_inner_content .card_inner_technologies, .card_inner_librairies_plugins{
    padding: 4px;
    text-align: center;
}

#projets_div .card .card_inner_content .card_inner_description{
    padding: 8px 0;
    font-size: 15px;
    line-height: 16px;
    word-spacing: 1px;
    font-family: 'Lato-Thin';
    height: 300px;
    overflow: auto;
}


/* SearchBar & FilterBar */

#filter_bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#filter_bar .reset-filter-button{
  position: relative;
  width: 55px;
  height: 40px;
  margin: 20px 0;
  background-color: var(--danger);
  color: var(--text-light-color);
  border: 1px solid var(--tertiary);
}

#filter_bar .reset-filter-button:hover{
    cursor: pointer;
    opacity: .9;
  }

#filter_bar .filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px 15px;
  width: 90%;
}

#filter_bar .filter-button {
  transition: background-color 200ms, color 200ms;
  background-color: var(--tertiary);
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  color: var(--text-dark-color);
  border: 1px solid var(--tertiary);
  border-radius: 4px;
  font-size: 18px;
  white-space: nowrap;
}

#filter_bar .filter-button:hover {
  color: var(--text-light-color);
  background-color: var(--primary);
}

#filter_bar .filter-button.is-active {
  color: var(--text-light-color);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

#filter_bar .disable {
  display: none;
}


/* tablette en mode paysage*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #projets_div .card {
        flex: 1 1 calc(48% - 50px);
        justify-content: space-between;
        min-width: 21%;
        max-width: 48%;
        margin: 15px 0;
    }

    #projets_div .card:nth-child(2n) {
        margin-left: auto;
    }

    #projets_div .card .card_face_content .card_face_technologies {
        display: none;
    }

    #filter_bar{
        display: flex;
        flex-direction: column-reverse;
    }

    #filter_bar .filter-container {
        flex-wrap: unset;
        overflow: scroll;
        margin: 15px 0;
        width: 100%;
    }

    #filter_bar .filter-button{
        font-size: 16px;
        padding: 10px;
    }
    
    #filter_bar .reset-filter-button{
        margin-left: auto;
    }
}


/* tablette en mode portrait */
@media screen and (min-width: 481px) and (max-width: 767px) {
    #projets_div .card {
        flex: unset;
        width: 100%;
        min-width: 21%;
        max-width: 100%;
        margin: 15px 0;
    }

    #projets_div .card .card_face_content .card_face_technologies {
        display: none;
    }

    #filter_bar{
        display: flex;
        flex-direction: column-reverse;
    }

    #filter_bar .filter-container {
        flex-wrap: unset;
        overflow: scroll;
        margin: 15px 0;
        width: 100%;
    }

    #filter_bar .filter-button{
        font-size: 16px;
        padding: 8px;
    }
    
    #filter_bar .reset-filter-button{
        margin-left: auto;
        width: 45px;
        height: 45px;
    }
}
  
  
  /* smartphones */
@media screen and (max-width: 480px) {
    #projets_div .card {
        flex: unset;
        width: 100%;
        min-width: 21%;
        max-width: 100%;
        margin: 15px 0;
    }

    #projets_div .card .card_face_content .card_face_technologies {
        display: none;
    }

    #filter_bar{
        display: flex;
        flex-direction: column-reverse;
    }

    #filter_bar .filter-container {
        flex-wrap: unset;
        overflow: scroll;
        margin: 15px 0;
        width: 100%;
    }

    #filter_bar .filter-button{
        font-size: 16px;
        padding: 4px;
    }
    
    #filter_bar .reset-filter-button{
        margin-left: auto;
        width: 40px;
        height: 40px;
    }
}
  