:root{
  --background-0:#252a34;
  --background-1:#242832;
  --background-2:#222730;
  --background-3:#21252e;
  --background-4:#1f242c;
  --background-5:#1e222a;
  --background-6:#1c2028;
  --background-7:#1b1f26;
  --background-8:#1a1d24;
  --background-9:#181b22;
  --text-light-primary-color:#ebe2d2;
  --text-dark-primary-color:#ebe2d2;
  --text-secondary-color:#e05c43;
}

@font-face {
  font-family: 'Lato';
  src: url('../data/Lato/Lato-Regular.ttf') format('truetype'),
       url('../data/Lato/Lato-Thin.ttf') format('truetype'),
       url('../data/Lato/Lato-Light.ttf') format('truetype'),
       url('../data/Lato/Lato-Black.ttf') format('truetype'),
       url('../data/Lato/Lato-Bold.ttf') format('truetype');
  /* Ajoutez d'autres formats de fichiers si nécessaire */
  font-weight: normal;
  font-style: normal;
}

body{
  color: var(--text-light-primary-color);
  font-family: 'Lato', Arial;
}

section{
  height: 100vh;
  width: auto;
  position: relative;
  display: none;
  padding-top: 150px;
}

.active{
  display: flex !important;
  flex-direction: column;
}

.container{
  width: 80%;
  margin: auto;
}

/* Effet de bounce
section * {
    animation: bounce 4s infinite;
  }
  

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(90vh));
  }
  100% {
    transform: translateX(0);
  }
}
*/

.triangle {
  position:fixed;
  width: 100vw;
  height: 100vh;
}

#triangle1 {
  position: absolute;
  background-color: var(--background-0);
  width: 100%;
  height: 100%;
}

#triangle2 {
  position: absolute;
  clip-path: polygon(20% 100%, 50% 50%, 66% 100%);
  background-color: var(--background-3);
  width: 100%;
  height: 100%;
}

#triangle3 {
  position: absolute;
  clip-path: polygon(100% 50%, 50% 50%, 66% 100%, 100% 100%);
  background-color: var(--background-4);
  width: 100%;
  height: 100%;
}