:root{
  /*DarkTheme Background*/
  --dark-background-0:#252a34;
  --dark-background-1:#232831;
  --dark-background-2:#21252e;
  --dark-background-3:#1f232b;
  --dark-background-4:#1c2028;
  --dark-background-5:#1a1e25;
  --dark-background-6:#181b22;

  /*LightTheme Background*/
  --light-background-0:#f9f9f9;
  --light-background-1:#f4f4f4;
  --light-background-2:#f0f0f0;
  --light-background-3:#ebebeb;
  --light-background-4:#e6e6e6;
  --light-background-5:#e2e2e2;
  --light-background-6:#dddddd;
;
  /* Text color */
  --text-light-color:#ebe2d2;
  --text-dark-color:#1b1f26;

  /* Main colors */
  --primary: #1F3A93;
  --secondary:  #2C7FBF;
  --tertiary: #798EAD;

  /* Gradient From Primary to Secondary */
  --primary-secondary-gradient-1:#296eb4;
  --primary-secondary-gradient-2:#265da9;
  --primary-secondary-gradient-3:#224b9e;

  /* Info colors */
  --danger: #bb2124;
	--success:#22bb33;
	--warning:#f0ad4e;
}

@font-face {
  font-family: 'Lato';
  src: url('../data/font/Lato/Lato-Regular.ttf') format('truetype'),
       url('../data/font/Lato/Lato-Thin.ttf') format('truetype'),
       url('../data/font/Lato/Lato-Light.ttf') format('truetype'),
       url('../data/font/Lato/Lato-Black.ttf') format('truetype'),
       url('../data/font/Lato/Lato-Bold.ttf') format('truetype');
  /* Ajoutez d'autres formats de fichiers si nécessaire */
  font-weight: normal;
  font-style: normal;
}

body{
  color: var(--text-dark-color);
  font-family: 'Lato', Arial;
}

section{
  min-height: 100vh;
  width: auto;
  position: relative;
  display: none;
  padding-top: 150px;
}

.active{
  display: flex !important;
  flex-direction: column;
}

.container{
  width: 60%;
  margin: auto;
}

/* Effet de bounce */
/* section * {
    animation: bounce 4s infinite;
  }
  

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(90vh));
  }
  100% {
    transform: translateX(0);
  }
} */


/* Backgoround */
.triangle {
  position:fixed;
  width: 100vw;
  height: 100vh;
}

#triangle1 {
  position: absolute;
  background-color: var(--light-background-6);
  width: 100%;
  height: 100%;
}

#triangle2 {
  position: absolute;
  clip-path: polygon(20% 100%, 50% 50%, 66% 100%);
  background-color: var(--primary-secondary-gradient-2);
  opacity: .7;
  width: 100%;
  height: 100%;
}

#triangle3 {
  position: absolute;
  clip-path: polygon(100% 50%, 50% 50%, 66% 100%, 100% 100%);
  background-color: var(--primary-secondary-gradient-3);
  width: 100%;
  height: 100%;
}

/* CSS général */
h1{
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 40px;
}